*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-color: #e8dac3; /* page background */
  color: #214e34; /* default font color */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #214e34;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
  font-size: 1.8rem;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

/* Paragraphs & text */
p,
span,
li,
a {
  font-weight: 400;
  color: #000; /* default body text */
  font-size: 14px;
}

/* ==============================
   Override Bootstrap Colours
   ============================== */

/* Backgrounds */
.bg-dark {
  background-color: #214e34 !important; /* dark green */
}

.bg-light {
  background-color: #f8f0e5 !important; /* cream */
}

/* Text */
.text-dark {
  color: #214e34 !important;
}

.text-light {
  color: #f8f0e5 !important; /* off white */
}

/* Navbar */
.navbar,
.navbar-brand,
.navbar-nav .nav-link {
  color: #214e34 !important;
  font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #490642 !important;
}

/* Footer */
footer {
  background-color: #f8f0e5;
  color: #214e34;
}

/* ==============================
   Buttons
   ============================== */

/* Primary button */
.btn-primary {
  background-color: #214e34 !important;
  border-color: #214e34 !important;
  color: #f8f0e5 !important;
  font-weight: 500 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus-visible,
.btn-primary:active {
  background-color: #490642 !important;
  border-color: #490642 !important;
  color: #f8f0e5 !important;
  box-shadow: 0 !important;
  font-weight: 500 !important;
}

/* Secondary button */
.btn-secondary {
  background-color: #490642 !important;
  border-color: #490642 !important;
  color: #f8f0e5 !important;
  font-weight: 500 !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:focus-visible,
.btn-secondary:active {
  background-color: #214e34 !important;
  border-color: #214e34 !important;
  color: #f8f0e5 !important;
  box-shadow: 0 !important;
  font-weight: 500 !important;
}
