{% extends "base.html" %}
{% block title %}Private and custom guided safaris{% endblock %}

{% block content %}
<section class="mb-5 pt-5 mx-3">
    <h1>
        Private and custom safaris by Experience Africa Safaris
    </h1>
    <strong>Build the safari of your dreams</strong>
</section>
<section class="bg-light mt-5 p-4" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/images/Arathusa Safari Lodge - Water Facing 2.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Safari Lodge - Water Facing 3.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Safari Lodge - Water Facing 5.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Safari Lodge Water Facing Bathroom.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Safari Lodge Water Facing Outdoor Shower.jpg"
                    class="d-block w-100 rounded" alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Water Facing (1).jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Water Facing.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="mb-5 pt-5 mx-3">
    <div class="py-3">
        <h2>
            How to build your own safari: a practical guide
        </h2>
        <strong>Decide the number of days you want to spend on safari</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum sed, inventore soluta molestias
            cupiditate laborum repellat, ducimus illum blanditiis vero accusantium ratione? Veritatis fugiat animi vero
            est
            modi numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, reprehenderit recusandae
            cumque dolor rem praesentium aliquam quas eum nihil? Eveniet iusto temporibus error, sunt nam nobis deleniti
            eum
            nemo voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem labore architecto cum
            maiores, debitis deleniti ad distinctio vero nam totam tempore. Aut ullam quaerat at amet, deleniti sint.
            Alias.
        </p>
    </div>
    <div class="py-3">
        <strong>Decide on the geographical location for your safari</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum sed, inventore soluta molestias
            cupiditate laborum repellat, ducimus illum blanditiis vero accusantium ratione? Veritatis fugiat animi vero
            est
            modi numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, reprehenderit recusandae
            cumque dolor rem praesentium aliquam quas eum nihil? Eveniet iusto temporibus error, sunt nam nobis deleniti
            eum
            nemo voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem labore architecto cum
            maiores, debitis deleniti ad distinctio vero nam totam tempore. Aut ullam quaerat at amet, deleniti sint.
            Alias.
        </p>
    </div>
    <div class="py-3">
        <strong>Decide whether you're camping, glamping or staying in a luxury lodge</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum sed, inventore soluta molestias
            cupiditate laborum repellat, ducimus illum blanditiis vero accusantium ratione? Veritatis fugiat animi vero
            est
            modi numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, reprehenderit recusandae
            cumque dolor rem praesentium aliquam quas eum nihil? Eveniet iusto temporibus error, sunt nam nobis deleniti
            eum
            nemo voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem labore architecto cum
            maiores, debitis deleniti ad distinctio vero nam totam tempore. Aut ullam quaerat at amet, deleniti sint.
            Alias.
        </p>
    </div>
    <div class="py-3">
        <strong>Decide what your days and nights need to look like</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum sed, inventore soluta molestias
            cupiditate laborum repellat, ducimus illum blanditiis vero accusantium ratione? Veritatis fugiat animi vero
            est
            modi numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, reprehenderit recusandae
            cumque dolor rem praesentium aliquam quas eum nihil? Eveniet iusto temporibus error, sunt nam nobis deleniti
            eum
            nemo voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem labore architecto cum
            maiores, debitis deleniti ad distinctio vero nam totam tempore. Aut ullam quaerat at amet, deleniti sint.
            Alias.
        </p>
    </div>
    <div class="py-3">
        <strong>Decide on your budget range with this helpfull table</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta repellendus optio est nihil veniam harum
            voluptatibus aut voluptate ipsa nesciunt? Quas, reprehenderit nisi iusto temporibus magnam eligendi iure
            repellendus natus.</p>
    </div>
    <div class="py-3">
        <strong>Reach out to me with these points</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta repellendus optio est nihil veniam harum
            voluptatibus aut voluptate ipsa nesciunt? Quas, reprehenderit nisi iusto temporibus magnam eligendi iure
            repellendus natus.</p>
    </div>
</section>
<section class="bg-light mt-5 p-4" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c;">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/images/lion-3.webp" class="d-block w-100 rounded"
                            alt="Image from recent rare bird photographic safari">
                    </div>
                    <div class="carousel-item">
                        <img src="static/images/Website-1.webp" class="d-block w-100 rounded"
                            alt="Image from recent rare bird photographic safari">
                    </div>
                    <div class="carousel-item">
                        <img src="static/images/Website-6-2.jpg" class="d-block w-100 rounded"
                            alt="Image from recent rare bird photographic safari">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>Recent private safari</h2>
            <p class="py-4 my-0">
                Take a sneak-peak into a private safari of someone.
            </p>
            <a href="TBC" class="btn btn-secondary">Enquire now</a>
        </div>
    </div>
</section>



{% endblock%}