{% extends "base.html" %}
{% block title %}Luxury pre-planned or personalised wildlife and nature tours{% endblock %}

{% block content %}
<section class="bg-light" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c">
    <h1 class="text-center mb-5 pt-5">
        Experience Africa Safaris
    </h1>
    <!--                                                                                                mb-5 mx-5 -->
    <div style="grid-template-columns: 1fr 1.5fr 1fr;"
        class="d-grid gap-1 align-items-center pb-5 mx-1 mx-md-3 mx-xl-5">
        <div class="p-0">
            <img src="static/images/Kruger.webp" class="img-fluid rounded"
                alt="Experience Africa Safaris in the Kruger National Park">
        </div>
        <div class="p-0">
            <img src="static/images/Mata-Mata-giraffe.jpg" class="img-fluid rounded"
                alt="Photo of giraffe in Mata Mata by Experience Africa Safaris">
        </div>
        <div class="p-0">
            <img src="static/images/Serengeti.jpg" class="img-fluid rounded"
                alt="Photos of wildlife in the Serengeti by Experience Africa Safaris">
        </div>
    </div>
    <p class="mb-0 pb-5 mx-1 mx-md-3 mx-xl-5">
        Explore the stunning wildlife and natural beauty of southern Africa with Experience Africa Safaris.
        Whether you prefer custom, personalized safaris or pre-planned luxury safari packages,
        we provide unforgettable experiences across Africa’s iconic landscapes, wildlife reserves,
        and nature destinations. Every journey is designed to immerse you in Africa’s rich ecosystems
        while ensuring comfort, adventure, and authentic encounters with nature.
    </p>
</section>


<section class="mt-5">
    <h2>About Experience Africa Safaris</h2>
    <p>At Experience Africa Safaris, we are passionate about combining luxury travel with meaningful conservation. Our
        founder created the company to offer travelers not only exceptional safari adventures but also the opportunity
        to
        make a positive impact. Every safari, whether pre-planned or custom-designed, supports local communities and
        conservation initiatives, helping preserve Africa’s natural beauty for generations to come. Embark on a safari
        that
        connects you with nature, enriches your experience, and contributes to the planet.</p>
</section>


<section class="bg-light mt-5 p-5" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 order-1 order-md-2 mb-4 mb-md-0">
            <img src="static/images/Camping.jpg" class="img-fluid rounded"
                alt="Experience Africa Safaris Executive Lodge Experience">
        </div>
        <div class="col-12 col-md-6 order-2 order-md-1">
            <h2>Curated luxury experiences</h2>
            <strong>Luxury safaris and executive lodge experiences</strong>
            <p class="py-4 my-0">
                Experience Africa Safaris offers a collection of luxury pre-planned safaris designed
                for travelers seeking unforgettable adventures. Join us on rare bird and wildlife photographic
                safaris, immerse yourself in photography courses set against breathtaking African landscapes,
                or participate in eco-focused safaris that actively support conservation efforts. Every
                curated safari combines comfort, expert guidance, and authentic wilderness encounters to
                create a journey you’ll never forget.
            </p>
            <a href="TBC" class="btn btn-secondary">Learn more</a>
        </div>
    </div>
</section>



<section class="bg-light mt-5 p-5" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img src="static/images/Owl.jpg" class="img-fluid rounded"
                alt="Owl captured on safari by Experience Africa Safaris">
        </div>
        <div class="col-12 col-md-6">
            <h2>Private and fully customisable safaris</h2>
            <strong>Build the safari of your dreams</strong>
            <p class="py-4 my-0">
                Create a safari experience as unique as your sense of adventure. Choose your
                destinations, activities, and pace—whether it’s tracking wildlife at dawn, gliding over
                the savannah in a hot air balloon, or relaxing in secluded luxury lodges. With my expert
                guidance, your safari is fully personalized to reflect your style, passions, and dreams.
            </p>
            <a href="TBC" class="btn btn-secondary">Learn more</a>
        </div>

    </div>
</section>


{% endblock %}