{% extends "base.html" %}
{% block title %}luxury and executive lodges{% endblock %}

{% block content %}
<section class="mb-5 pt-5 mx-3">
    <h1>
        Luxury lodge experience by Experience Africa Safaris
    </h1>
    <strong>Elegance in the heart of the wild</strong>
</section>
<section class="bg-light mt-5 p-4" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/images/Arathusa Safari Lodge - Water Facing 2.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Safari Lodge - Water Facing 3.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Safari Lodge - Water Facing 5.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Safari Lodge Water Facing Bathroom.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Safari Lodge Water Facing Outdoor Shower.jpg"
                    class="d-block w-100 rounded" alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Water Facing (1).jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
            <div class="carousel-item">
                <img src="static/images/Arathusa Water Facing.jpg" class="d-block w-100 rounded"
                    alt="Image from recent rare bird photographic safari">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="bg-light mt-5 p-5" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 order-1 order-md-2 mb-4 mb-md-0">
            <img src="static/images/Braai.jpg" class="img-fluid rounded"
                alt="Experience Africa Safaris eco safaris">
        </div>
        <div class="col-12 col-md-6 order-2 order-md-1">
            <h2>Experience duration</h2>
            <strong>For a short indulgent escape or a longer immersive retreat</strong>
            <ul class="mx-0 py-4">
                <li><strong>1 Day:</strong> A refreshing wilderness recharge</li>
                <li><strong>1 – 5 Nights:</strong> A taste of luxury safari life</li>
                <li><strong>6 – 8 Nights:</strong> Deeply immersive, with extended exploration</li>
                <li><strong>9 – 14 Nights:</strong> A full journey into elegance and wild discovery</li>
            </ul>
            <a href="TBC" class="btn btn-secondary">Enquire now</a>
        </div>
    </div>
</section>
<section class="mb-5 pt-5 mx-3">
    <div class="py-3">
        <h2>What’s Included</h2>
        <strong>Your stay is designed to be effortless, with curated touches of luxury</strong>
        <ul>
            <li>Food</li>
            <li>Airport transfers & lodge shuttles</li>
            <li>Unlimited water, soft drinks, and alcohol</li>
            <li>10 professional photos per day</li>
            <li>Exclusive signed guidebook to take home</li>
        </ul>
    </div>
    <div class="py-3">
        <h2>
            Exclusions
        </h2>
        <strong>To ensure transparency, please note that the following are not included</strong>
        <ul>
            <li>Park and conservation gate fees</li>
            <li>International or domestic flights</li>
            <li>Optional extra night drives</li>
            <li>Curios, souvenirs, and personal shopping</li>
        </ul>
    </div>
    <div class="py-3">
        <h2>Pricing Structure</h2>
        <strong>40% deposit required upfront to secure your stay</strong>
        <div class="table-responsive">
            <table class="table table-bordered table-striped align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Duration</th>
                        <th scope="col">Guests</th>
                        <th scope="col">Rate (per person)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3"><strong>1 Day</strong></td>
                        <td>1 PAX</td>
                        <td>R3 900</td>
                    </tr>
                    <tr>
                        <td>2 PAX</td>
                        <td>R2 250</td>
                    </tr>
                    <tr>
                        <td>3 – 4 PAX</td>
                        <td>R2 000</td>
                    </tr>

                    <tr>
                        <td rowspan="2"><strong>1 – 5 Nights</strong></td>
                        <td>2 PAX</td>
                        <td>R5 000</td>
                    </tr>
                    <tr>
                        <td>3 – 4 PAX</td>
                        <td>R4 500</td>
                    </tr>

                    <tr>
                        <td rowspan="2"><strong>6 – 8 Nights</strong></td>
                        <td>2 PAX</td>
                        <td>R4 500</td>
                    </tr>
                    <tr>
                        <td>3 – 4 PAX</td>
                        <td>R4 200</td>
                    </tr>

                    <tr>
                        <td rowspan="2"><strong>9 – 14 Nights</strong></td>
                        <td>2 PAX</td>
                        <td>R4 200</td>
                    </tr>
                    <tr>
                        <td>3 – 4 PAX</td>
                        <td>R4 000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="py-3">
        <h2>Additional Information</h2>
        <p>luxury lodge experiences can be booked as <strong>fully guided safaris</strong> or <strong>independent
                escapes</p>
        <p>Entry-level luxury lodges start at <strong>R10,000 per person per night</strong>, while premium destinations
            such as Mala Mala and Lion Sands offer an elevated experience from <strong>R24,000 per person per
                night</strong>.</p>
        <p>
            We work with a select collection of lodges, including <strong>Arathusa Safari Lodge</strong>,
            <strong>Nottens Bush
                Lodge</strong>, and <strong>Elephant Plains</strong>, ensuring that every stay is tailored to your
            preferred balance
            of luxury and adventure.
        </p>
    </div>
</section>
<section class="bg-light mt-5 p-4" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c;">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/images/lion-3.webp" class="d-block w-100 rounded"
                            alt="Image from recent rare bird photographic safari"
                            >
                    </div>
                    <div class="carousel-item">
                        <img src="static/images/Website-1.webp" class="d-block w-100 rounded"
                            alt="Image from recent rare bird photographic safari"
                            >
                    </div>
                    <div class="carousel-item">
                        <img src="static/images/Website-6-2.jpg" class="d-block w-100 rounded"
                            alt="Image from recent rare bird photographic safari"
                            >
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>Recent lodge experiences</h2>
            <p class="py-4 my-0">
                Take a sneak-peak at the latest adventures guests have had.
            </p>
            <a href="TBC" class="btn btn-secondary">Enquire now</a>
        </div>
    </div>
</section>
{% endblock %}