{% extends "base.html" %}
{% block title %}Guided and curated luxury safari tours{% endblock %}

{% block content %}
<section class="mb-5 pt-5 mx-3">
    <h1>
        Curated pre-planned safaris
    </h1>
    <strong>Unforgettable encounters, seamlessly planned for you</strong>
</section>
<section class="bg-light mt-5 p-5" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 order-1 order-md-2 mb-4 mb-md-0">
            <img src="static/images/BirdDance.webp" class="img-fluid rounded"
                alt="Experience Africa Safaris rare bird and wildlife photographic safari">
        </div>
        <div class="col-12 col-md-6 order-2 order-md-1">
            <h2>Rare bird & wildlife photographic safari</h2>
            <strong>R9000 per person per night</strong>
            <p class="py-4 my-0">
                Embark on an exclusive photographic safari crafted for discerning adventurers who seek both rare
                encounters and refined comfort.
                Each day invites you deeper into southern Africa’s wild heart, where vibrant, elusive bird species share
                the stage with elephants,
                big cats, and other majestic wildlife. Guided by seasoned trackers and photographic experts, you’ll be
                perfectly positioned to capture
                once-in-a-lifetime shots against breathtaking backdrops of golden savannas and untamed wilderness. After
                a day of exploration, retreat
                to elegant accommodations where luxury and tranquillity blend seamlessly with the rhythms of the wild,
                ensuring every moment of your
                journey is as memorable as the images you take home.
            </p>
            <a href="TBC" class="btn btn-secondary">Enquire now</a>
        </div>
    </div>
</section>

<section class="bg-light mt-5 p-5" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 order-1 order-md-2 mb-4 mb-md-0">
            <img src="static/images/LionBoard.webp" class="img-fluid rounded"
                alt="Experience Africa Safaris eco safaris">
        </div>
        <div class="col-12 col-md-6 order-2 order-md-1">
            <h2>Eco Safaris: hands-on-conservation</h2>
            <strong>R9000 per person per night</strong>
            <p class="py-4 my-0">
                Step into an extraordinary safari where adventure meets purpose. Designed for travelers who seek more
                than just
                breathtaking encounters, this journey allows you to connect deeply with Africa’s wilderness while
                supporting vital
                conservation efforts. Each day reveals the beauty of rare wildlife and pristine landscapes, offering
                unforgettable
                moments that inspire both wonder and responsibility. At night, retreat to luxurious eco-lodges that
                blend comfort with
                sustainability, ensuring your experience is as indulgent as it is meaningful. This is not just a safari
                — it’s a chance
                to leave a lasting impact on the wild places you explore.
            </p>
            <a href="TBC" class="btn btn-secondary">Enquire now</a>
        </div>
    </div>
</section>
<section class="mb-5 pt-5 mx-3">
    <div class="py-3">
        <h2>
            Accommodation
        </h2>
        <strong>Place holder subtitle</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum sed, inventore soluta molestias
            cupiditate laborum repellat, ducimus illum blanditiis vero accusantium ratione? Veritatis fugiat animi vero
            est
            modi numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, reprehenderit recusandae
            cumque dolor rem praesentium aliquam quas eum nihil? Eveniet iusto temporibus error, sunt nam nobis deleniti
            eum
            nemo voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem labore architecto cum
            maiores, debitis deleniti ad distinctio vero nam totam tempore. Aut ullam quaerat at amet, deleniti sint.
            Alias.
        </p>
    </div>
    <div class="py-3">
        <h2>
            Regions
        </h2>
        <strong>Place holder subtitle</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum sed, inventore soluta molestias
            cupiditate laborum repellat, ducimus illum blanditiis vero accusantium ratione? Veritatis fugiat animi vero
            est
            modi numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, reprehenderit recusandae
            cumque dolor rem praesentium aliquam quas eum nihil? Eveniet iusto temporibus error, sunt nam nobis deleniti
            eum
            nemo voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem labore architecto cum
            maiores, debitis deleniti ad distinctio vero nam totam tempore. Aut ullam quaerat at amet, deleniti sint.
            Alias.
        </p>
    </div>
    <div class="py-3">
        <h2>Pricing structure</h2>
        <strong>Place holder subtitles</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta repellendus optio est nihil veniam harum
            voluptatibus aut voluptate ipsa nesciunt? Quas, reprehenderit nisi iusto temporibus magnam eligendi iure
            repellendus natus.</p>
    </div>
</section>
<section class="bg-light mt-5 p-4" style="border-radius: 10px; box-shadow: 1px 1px 5px #0000008c;">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/images/lion-3.webp" class="d-block w-100 rounded"
                            alt="Image from recent rare bird photographic safari"
                            >
                    </div>
                    <div class="carousel-item">
                        <img src="static/images/Website-1.webp" class="d-block w-100 rounded"
                            alt="Image from recent rare bird photographic safari"
                            >
                    </div>
                    <div class="carousel-item">
                        <img src="static/images/Website-6-2.jpg" class="d-block w-100 rounded"
                            alt="Image from recent rare bird photographic safari"
                            >
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>Recent safaris</h2>
            <p class="py-4 my-0">
                Take a sneak-peak at the latest adventures guests have had.
            </p>
            <a href="TBC" class="btn btn-secondary">Enquire now</a>
        </div>
    </div>
</section>



{% endblock%}